* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.428571429;
    background-color: #fff;
    background-image: none;
    font-family: 'Roboto', sans-serif;
}

.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #f2f2f2;
  }

.footer ul li {
    color: #8f8f8f;
    float: left;
    list-style: none;
    padding: 0px 20px;
}

.footer ul{
    padding: 20px 20px 10px;
    margin: 0;
    display: inline-block;
}

.footer .term-ul{float: right;}

.footer ul li a{
    text-decoration: none;
    color: #8f8f8f;
}

.footer .ind-ul {
    padding: 0px 20px 0px;
    margin: 0;
}

.india-row{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: -35px;
}

.center{text-align: center;}
.toppadding{padding-top: 20px;}
.toppaddingthirty{padding-top: 30px;}
.toppaddingsm{padding-top: 15px;}
.bottompadding{padding-bottom: 20px;}
.bottompaddingsm{padding-bottom: 15px;}
.topmargin{margin-top: 20px;}
.topmarginsm{margin-top: 15px;}
.bottommargin{margin-bottom: 20px;}
.bottommarginsm{margin-bottom: 15px;}

.search-btn{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 8px 30px 6px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.search-btn:focus{color: #3c4043;}
.search-btn:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
    text-decoration: none;
}

.search-button{
    display: inline-block;
    outline: 0;
    user-select: none;
}


.search-field::placeholder{
    font-size: 16px; 
    color: #c8cacb;
}
.search-section{
        background: #fff;
        display: flex;
        border: 1px solid #dfe1e5;
        box-shadow: none;
        border-radius: 24px;
        z-index: 3;
        height: 48px;
        margin: 0 auto;
        width: auto;
        max-width: 584px;
}
.search-section:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.input-search:focus ~ #target {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.search-div {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}
.search-img {
    display: flex;
    align-items: center;
    padding-right: 3px;
    margin-top: -5px;
}
.search-icon{
    width: 14px;
}
.QCzoEc {
    margin-top: 0px;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.toppad{padding-top: 60px;}

.a4bIc {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.input-search {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0px 10px 0px 10px;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    height: 36px;
    font-size: 16px;
}

.LLD4me {
    min-height: 150px;
    max-height: 290px;
    height: calc(100% - 560px);
}

.changeNav .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-1px, 6px);
  }
  
  .changeNav .bar2 {opacity: 0;}
  
  .changeNav .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-2px, -8px);
  }
  .navbar-toggle.changeNav .icon-bar{width: 28px;}

@media (max-width: 767px)
{
    .search-div{width: 100%;}
    .footer .term-ul{float: none !important;width: 100%;}
    .footer .term-ul li{width: 50%; text-align: center;}
    .navbar-toggle .icon-bar {background: #555;}
    .main-nav {
        overflow: hidden;
    }

    .main-nav {
        font-size: 18px;
    }
    
    #topNavMobile {
        position: fixed;
        z-index: 9999;
        background: #fff;
    }
    .navbar-collapse{width: 100%;}
    .link-ul{
        padding: 20px;
    }

    .link-ul li{
        text-decoration: none;
        color: #8f8f8f;
        padding-bottom: 10px;
        font-size: 18px;
    }
    .link-ul li a{
        text-decoration: none;
        color: #8f8f8f;
    }

    
}