*{
    box-sizing: border-box;
}
html,body{
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
.comingSoonPage{
    height: 100%;
    background: url('./img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 50px;
    overflow-y: hidden;
}

.comingsoon .image1{display: flex;align-items: flex-end;animation: 20s moving-out ease infinite;width: 25%; animation-direction: alternate;}
.comingsoon .image2{display: flex;align-items: center;justify-content: center;animation: 5s popoutin ease infinite;width: 50%;}
.comingsoon .image3{display: flex;align-items: flex-start;justify-content: end;animation: 20s moving-in ease infinite;width: 25%; animation-direction: alternate;}
@keyframes popoutin {
    0% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(0.5);
    }
    100% {
        transform: scale(0.8);
    }
  }
  @keyframes moving-out {
    0% {
      transform: translateY(-15%);
      color: #388803ba;
    }
    50% {
      transform: translateY(-20%);
      color: #388803ba;
    }
    100% {
        transform: translateY(-15%);
        color: #388803ba ;
    }
  }
  @keyframes moving-in {
    0% {
      transform: translateY(3%);
      color: #388803ba;
    }
    50% {
      transform: translateY(8%);
      color: #388803ba;
    }
    100% {
        transform: translateY(3%);
        color: #388803ba;
    }
  }

.comingSoonPage .comingsoon.desktop{display: flex;justify-content: space-between;height: 100%;}
.comingSoonPage .comingsoon.mobile{display: none;}
.textAnimateComing{
  font-family: 'Bebas Neue', cursive;
  /* color: #388803; */
  font-weight: 900;
  letter-spacing: 20px;
  transform: rotate(-90deg);
  font-size: 130px;
  margin: 0 0 0 -150px;
}
.textAnimateSoon{
    font-family: 'Bebas Neue', cursive;
    /* color: #b9e405; */
    font-weight: 900;
    letter-spacing: 20px;
    transform: rotate(-90deg);
    font-size: 130px;
    margin: 0 -100px 0 0;
}

@media(max-width:768px) {
    /* .comingSoonPage .comingsoon.desktop{display: none;}
    .comingSoonPage .comingsoon.mobile{display: flex;flex-direction: column-reverse;justify-content: space-evenly;height: 100%;}
    .comingSoonPage .comingsoon.mobile img{width: auto;height: 150px;}
    .comingSoonPage .comingsoon.mobile .image4{display: flex;align-items: center;animation: 5s logozoom ease infinite;justify-content: center;}
    .comingSoonPage .comingsoon.mobile .image5{display: flex;gap:15px;animation: 10s moving-out ease infinite;}
    .comingSoonPage .comingsoon.mobile .image6{display: flex;gap:15px;animation: 10s moving-in ease infinite;justify-content: end;} */
    /* @keyframes popoutin {
      0% {
        transform: scale(0.3);
      }
      100% {
          transform: scale(0.37);
      }
    } */
    .textAnimateComing,.textAnimateSoon{
      font-size: 70px;
    }
    .textAnimateComing{margin: 0 0 0 -100px;}
    .textAnimateSoon{margin: 0 -60px 0 0;}
    .comingSoonPage{padding: 30px 0;}
}
