:root {
  --brand-color: #4900a3;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.container {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.major-button {
  background-color: var(--brand-color);
  box-shadow: 0 20px 45px -13px var(--brand-color);
  border-radius: 3px;
  padding: 15px 30px;
  font-weight: 700;
  transition: opacity .2s;
}

.body {
  font-family: DM Sans, sans-serif;
}

.image {
  box-shadow: 7px 2px 117px -45px var(--brand-color);
  border-radius: 3px;
  margin-top: 80px;
}

.hero-paragraph {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 20px;
  padding-bottom: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.big-heading {
  font-size: 60px;
  line-height: 65px;
}


