:root {
    --theme-three: #270cac;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    font-family: 'Poppins', sans-serif !important;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    background-color: #eff3f7 !important;
    display: flex;
    flex-direction: column;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.313rem;
}
.cardContent{
    background-color: #fff;
    max-width: 576px;
    min-height: 100vh;
    margin: auto;
}
.w-100 {
    width: 100%!important;
}
.pos-relative {
    position: relative!important;
}
.h200 {
    height: 200px;
}
.banner img {
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    z-index: 10;
}
.profile{
    z-index: 11;
    margin-top: -100px;
    position: relative;
    text-align: center;
}
.profile img{
    border: 2px solid #fff;
    height: 200px;
    max-width: 200px;
    min-width: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 200px;
    border-radius: 50%!important;
}
.profile_desc{padding: 0.75rem;}
.name_h2{
    color: #181818;
    font-size: 28px;
    font-weight: 700;
    text-align: center!important;
}
.para_p{
    color: #505050;
    font-size: 18px;
    text-align: center;
}
.para_left{
    color: #6c757d!important;
    font-size: 17px;
    text-align: left;
}
.social-icons {
    max-width: 430px;
    width: 100%;
}
.pt-4 {
    padding-top: 1rem!important;
}
.mx-auto {
    margin-left: auto!important;
    margin-right: auto!important;
}
.justify-content-center {
    justify-content: center!important;
}
.flex-wrap {
    flex-wrap: wrap!important;
}
.d-flex {
    display: flex!important;
}
.social-icons span {
    background: linear-gradient(90deg,#b24592,#f15f79);
    box-shadow: 3px 2px 15px hsl(0deg 0% 62% / 80%);
    cursor: pointer;
    height: 64px;
    min-width: 64px;
    transition: all .3s ease;
    width: 64px;
}
 .social-icons .icon {
    color: #fff;
    transition: all .3s ease;
}
.social-icons span a{
    color: #fff !important;
    font-size: 2em;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.section2 .event-card {
    border-radius: 10px;
    box-shadow: -6px -2px 16px hsl(0deg 0% 100% / 80%), 6px 5px 20px hsl(0deg 0% 62% / 40%);
}
.section2 .event-card .event-detail h6 {
    color: #505050;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
}
.section2 .event-card .event-detail .event-name {
    color: #181818;
    font-size: 16px;
    word-break: break-all;
}
.py-4 {
    padding-bottom: 1rem!important;
    padding-top: 1rem!important;
}
.px-3 {
    padding-left: 0.75rem!important;
    padding-right: 0.75rem!important;
}
.row.g-3{margin-left: 0;margin-right: 0;}
.row.g-3 .col-12{margin-top: 0.75rem;padding: 0 5px;}

.heading-right {
    border-radius: 0 0 0 50px;
    margin-left: auto;
    margin-right: -16px;
}
.heading-left, .heading-right {
    background: linear-gradient(90deg,#b24592,#f15f79);
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    padding: 16px 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.morecontent span {
    -webkit-box-orient: vertical;
    display: none;
    font-weight: 400!important;
}
.morelink,
.morelink1 {
    color: #000;
    font-weight: 500;
    cursor: pointer;
}
.morelink:hover,
.morelink1:hover {
    color: #515acc;
    text-decoration: unset;
}
.Gallery .service-card .card-img-top{
    height: 238px;
}
.Gallery.py-4 {
    padding: 35px 0;
}
.Gallery .owl-nav div.owl-prev:hover,
.Gallery .owl-nav div.owl-next:hover {
    color: transparent;
    background: transparent;
}
.Gallery .owl-nav div.owl-prev,
.Gallery .owl-nav div.owl-next {
    color: transparent;
    background: transparent;
}
.Testimonials .testimonial-card{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: -6px -2px 16px hsl(0deg 0% 100% / 80%), 6px 5px 12px hsl(0deg 0% 62% / 40%);
    padding: 0.75rem
}
.testimonial-box{
     padding: 35px 0;
}
.Testimonials .testimonial-user .rounded-circle{
     width: 60px;
     height: 60px;
     border-radius: 50%;
}
.Testimonials .testimonial-user{
    width: 100%;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Testimonials .user-detail{
    margin-left: 0.75rem;
}
.Testimonials .user-message{
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
}
.QR-code .heading-left{
    border-radius: 0 0 50px 0;
    margin-left: -16px;
}
.QR-code .pe-none{
    display: flex;
    justify-content: center;
}
.QR-code .rounded-circle{
     height: 120px;
     width: 120px;
     border-radius: 50%;
     margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}
.qr-code-btn:hover{
     -webkit-text-fill-color: transparent;
      background: linear-gradient(90deg,#f15f79,#b24592);
     -webkit-background-clip: text;
}
.qr-code-btn,
.qr-code-btn2{
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg,#b24592,#f15f79);
    -webkit-background-clip: text;
    border: none;
    border-radius: 10px;
    box-shadow: -6px -2px 16px hsl(0deg 0% 100% / 80%), 6px 5px 20px hsl(0deg 0% 62% / 40%);
    font-size: 16px;
    font-weight: 500;
    outline: none;
    padding: 10px 16px;
    margin-top: 1rem;
    margin-left: auto!important;
    margin-right: auto!important;
    display: block;
}
.qr-box{
    display: flex;
}
.business-calender{
    background-color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: -6px -2px 16px hsl(0deg 0% 100% / 80%), 6px 5px 20px hsl(0deg 0% 62% / 40%);
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.calendar-icon{
    background: linear-gradient(90deg,#b24592,#f15f79);
    border-radius: 12px;
    padding: 1rem;
}
.calendar-icon svg{
    font-size: 1.375rem;
    height: 1em;
}
.week{
   margin-left: 0.5rem;
}
.week-day,
.week-hour{
   margin-left: 1.25rem;
}
.week-hour{
    margin-top: 0.75rem;
    color: #181818;
    font-weight: 500;
    font-size: 1rem;
}
.form-control.form-field:focus{
    border: 1px solid #dbdbdb;
    box-shadow: unset;
}
.form-control.form-field{
   background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    color: #505050;
    outline: none;
    padding: .688rem .75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    min-height: calc(1.5em + 1.376rem + 2px);
}
.contact-btn{
    background: linear-gradient(90deg,#b24592,#f15f79);
    border: none;
    border-radius: 10px;
    box-shadow: -6px -2px 16px hsl(0deg 0% 100% / 80%), 6px 5px 20px hsl(0deg 0% 62% / 40%);
    font-size: 16px;
    font-weight: 500;
    outline: none;
    padding: 13px 20px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 1rem;
}
.contact-btn:hover {
     background: linear-gradient(90deg,#f15f79,#b24592);
}
.vcard-btn{
    margin: 0 auto;
}
.vcard-download,
.vcardsharebtn{
   background: linear-gradient(90deg,#b24592,#f15f79);
    border: none;
    border-radius: 10px;
    box-shadow: -6px -2px 16px hsl(0deg 0% 100% / 80%), 6px 5px 20px hsl(0deg 0% 62% / 40%);
    font-size: 14px;
    font-weight: 500;
    outline: none;
    padding: 10px 20px;
    color: #fff;
}
.vcard-download:hover,
.vcardsharebtn:hover{
    background: linear-gradient(90deg,#f15f79,#b24592);
    text-decoration: none;
    color: #fff;
}
.vcard-download,
.vcard-share{
   margin-top: 1rem;
}
.vcard-share{
    margin-left: 0.75rem;
    padding: 0.563rem 1.563rem;
    background-color: transparent;
    border: 1px solid transparent;
}
.vcard-download svg,
.vcard-share svg{
   height: 1em;
   margin-right: 0.5rem
}



@media (min-width: 576px)
{
    .flex-sm-row {
        flex-direction: row!important;
    }
    .ms-sm-3 {
        margin-left: 0.75rem!important;
    }
    .mt-sm-0 {
        margin-top: 0!important;
    }
    .text-sm-start.text-center {
        text-align: left!important;
    }
    .vcard-btn{
        display: flex;
        justify-content: center;
        margin-top: 1.25rem;
        padding-bottom: 1.25rem
    }
    .qr-code-btn2{
        display: none;
    }
}


@media (max-width: 575px){
    .vcard-download, 
    .vcard-share {
        margin: 0 auto;
        display: block;
        margin-top: 1rem;
    }
    .Testimonials .testimonial-user {
        text-align: center;
        display: block;
    }
    .qr-code-btn{
        display: none;
    }
    .Gallery .owl-nav div.owl-prev,
.Gallery .owl-nav div.owl-next {
    color: transparent;
    background: transparent;
    padding: 0;
}
.Gallery .owl-nav div.owl-prev:before {
    content: '‹';
    position: absolute;
    color: #fff;
    z-index: 9;
    text-indent: 6px;
}
.Gallery .owl-nav div.owl-prev{
    border-color: transparent #db5682 transparent transparent;
    border-style: solid;
    border-width: 11px 11px 11px 0;
    height: 0;
    position: absolute;
    left: 40px;
    width: 15px;
}
.Gallery .owl-nav div.owl-next{
    border-color: transparent transparent transparent #db5682;
    border-style: solid;
    border-width: 11px 0 11px 11px;
    height: 0;
    position: absolute;
    right: 40px;
    width: 15px;
}
.Gallery .owl-nav div.owl-prev:hover,
.Gallery .owl-nav div.owl-next:hover {
    color: transparent;
    background: transparent;
}
}
.modal{
    background: rgba(0,0,0,0.6);
}
.modal .modal-dialog .modal-content .modal-body .social-link-modal{
    display: flex;
    align-items: center;
    justify-content: center !important;
    gap: 15px;
    padding: 10px 0;
}
.modal .modal-dialog .modal-content .modal-body .social-link-modal .share9{width: 25px;}
.modal .modal-dialog .modal-content .modal-body .social-link-modal .copy-vcard-clipboard{
    width: 25px;
    border: none;
    background: transparent;
    margin: 0 !important;
}
.Gallery .item1{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: -6px -2px 16px hsl(0deg 0% 100% / 80%), 6px 5px 12px hsl(0deg 0% 62% / 40%);
    padding: 10px;
    position: relative;
    width: 90%;
    margin: 0 auto 20px auto;
}
@media(max-width:767px)
{
    .social-icons span {
        height: 50px;
        min-width: 50px;
        width: 50px;
    }
    .social-icons span a{font-size: 23px;}
    .section2 .container{padding-left: 0;padding-right: 0;}
    .ourService .card{border: none;}
    .ourService .card .card-body.py-4{padding: 15px 0 !important;}
    .container.mobnopadd{padding: 0 !important;}
    .calender .container{padding: 0 !important;}
    .modal .modal-dialog .modal-content .modal-body .social-link-modal {
        gap: 5px;padding: 5px 15px;
    }
}
